- provide :title, @post.title
%article
  %h3= @post.title
  %h6 Written by #{@post.user_first_name} on #{@post.created_at.to_formatted_s(:short)}
  = markdown @post.content
  - if current_user
    %p= link_to 'Edit', edit_post_path
  %br
  .row
  .comment
    - if logged_in?
      .row
        .large-9.columns
          = render 'comments/form'
    - else
      .row
        .large-9.columns
          %p Please login to post comment.
    .row
      .large-9.columns
        - if @post.comments.any?
          %h5 Comments
          = render partial: 'comments/comment', collection: @post.comments
        - else
          %p No comments on this post.

