!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) + " — Go Blog" : "Go Blog"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .row
      .large-12.columns
        %h1
          = link_to 'Go Blogging', root_path
          %small Go blogging in Rails!
        %hr
    .row
      .large-9.columns
        = render 'layouts/message'
        = yield
      %aside.large-3.columns
        = render 'layouts/sidebar'
    .row
      = render 'layouts/footer'
    = javascript_include_tag "application"
